header{
    background-color: var(--grey);
    box-shadow: rgba(243, 237, 237, 0.12) 0px 10px 16px;
}
/*---------------------------------HEADER----------------------------*/

.sticky .header-container {
    display: none;
}
.menu .logo{
    display: none;
}
.sticky .logo{
    display: block;
}
/*---------------------------------HEADER----------------------------*/
.header-container{
    display: flex;
    justify-content: space-between;
    margin: 0% auto;
    width: 1000px;
 
}
.header-container img{
    margin-top: 15px;
    cursor: default;
    
}
.date{
    color: var(--black);
    text-align: center;
    margin-top: 39px;
    padding-right: 35px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.logo{
    padding-right: 15px;
    padding-top: 5px;
}
img.logo:hover{
    cursor: pointer;
}
.nav-container{
    background-color: var(--white);
    box-shadow: rgb(0 0 0 / 12%) 0px 10px 16px;

}
.sticky .nav-container{
    background-color: var(--white);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9;

}
.header-wrapper {
    width: 865px;
    margin:0 auto;
    display: flex;
}
.header-wrapper .logo {
    display: none;
}
.sticky .header-wrapper .logo {
    display: inline-block;
}
ul.menu{
    
    display: flex;
    list-style-type: none;
    margin: 0 auto;
    text-align: center;
    
}
ul.menu li{
    line-height: 46px;
    font-size: 15px;
    font-family:  "Roboto Condensed", "Arial Narrow", Helvetica, Arial, sans-serif;
    padding-left: 15px;
    padding-right: 10px;

}
ul.menu li a {
    color: var(--black);
    text-decoration: none;
}
ul.menu li a:hover {
    text-decoration: none;
    color: var(--white);
}
ul.menu li:hover{
    background-color: var(--red);
    color: var(--white);
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 0.25s;
    transition-delay: 0;
}
ul.menu li:hover a{
    color: var(--white);
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:0.9375rem 1.25rem;
    }

.container-block{
    padding: 16px 16px 7px;
    box-shadow: rgb(0 0 0 / 25%) 0px 0px 7px;
    font-family: HeyWow, Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    position: relative;
   
}


.container-block img{
    width: 100%;
}
span{
    color: rgb(151, 151, 151);
    line-height: 19px;
}
span.category{
    color: rgb(63, 132, 56);
}
.arrow{
    position: absolute;
    right: 25px;
    bottom: 17px;
    color: rgb(63, 132, 56);
    font-size: 19px
    
}
.polygon{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 25px;
    height: 45px;
    clip-path: polygon(100% 0px, 0px 100%, 100% 100%);
    display: block;
    background: rgb(63, 132, 56);
}

.parent-block:hover h2,
.parent-block:hover h3 {
    text-decoration: underline;
    cursor: pointer;
}

img {
    cursor: pointer;
}

/* Another blog Website */
.blog-block-conatiner{
padding-left: 36px;
padding-right: 36px;
margin-top: 36px;
}
.two-block{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.smartphone-block h2{
    font-size: 30px;
    line-height: 34px;
}

h2.bold{
    height: 118px;
    font-size: 32px;
}

span.big-arrow{
    right: 40px;
    bottom: 29px;
    font-size: 25px;
    color: rgb(63, 132, 56);
    position: absolute;
}
span.small-arrow{
    right: 16px;
    bottom: 10px;
    font-size: 15px;
    color: rgb(63, 132, 56);
    position: absolute;
}
.big-polygon{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 35px;
    height: 60px;
    clip-path: polygon(100% 0px, 0px 100%, 100% 100%);
    display: block;
    background: rgb(63, 132, 56);
}
.small-polygon{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 17px;
    height: 34px;
    clip-path: polygon(100% 0px, 0px 100%, 100% 100%);
    display: block;
    background: rgb(63, 132, 56);
}


.container-block-additional {
    box-shadow: none;
    padding: 0;
}
p.content{
    bottom: 9px;
    position: absolute;
}

/*------------------------------------FOOTER----------------------------*/

.footer-container{
    margin-top: 60px;
}
.heading{
    display: flex;
    width: 1000px;
    margin: 0 auto;
    font-family:  "Roboto Condensed", "Arial Narrow", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: var(--black);
    margin-bottom: 15px;
    margin-top: 36px;
  
}
.heading svg{
    width: 10px;
    position: relative;
    top: -2px;
    margin-right: 6px;
    fill: red;
}

footer .content{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between ;
    list-style-type: none;
    width: 960px;
    margin: 0 auto;
    font-size: 12px;
    padding: 5px;
    
}
footer .content li a,
footer .social-icons li a{
    font-family: "Roboto Condensed", "Arial Narrow", Helvetica, Arial, sans-serif;
    font-weight: 700;
    color: var(--black);
    text-decoration: none;
    margin-right: 10px;
}

.content.social-icons svg{
    width: 24px;
    height: 24px;

}
.content.social-icons .twitter svg{
    background-color: var(--blue);
    fill: var(--white);
    padding: 4px;
    border-radius: 19px;
    width: 17px;
    height: 17px;
    border: 2px solid transparent;
}

.content.social-icons .twitter a:focus svg {
    background: transparent;
    fill: var(--black);
    border-color: var(--black);
}
.content.social-icons .facebook svg{
    background-color: var(--darkblue);
    fill: var(--white);
    padding: 4px;
    border-radius: 19px;
    width: 17px;
    height: 17px;
    border: 2px solid transparent;

}
.content.social-icons .facebook a:focus svg {
    background: transparent;
    fill: var(--black);
    border-color: var(--black);
}
.content.social-icons .instagram svg{
    background: radial-gradient(circle at 30% 107%, rgb(253, 244, 151) 0%, rgb(253, 244, 151) 5%, #fd5949 45%, rgb(214, 36, 159) 60%, rgb(40, 90, 235) 90%);
    fill: var(--white);
    padding: 4px;
    border-radius: 12px;
    width:17px;
    height:17px;
    border: 2px solid transparent;

}
.content.social-icons .instagram a:focus svg {
    background: transparent;
    fill: var(--black);
    border-color: var(--black);
}

.content.social-icons .message svg{
    background-color: var(--voilet);
    fill: var(--white);
    padding: 4px;
    border-radius: 19px;
    width: 17px;
    height:17px;
    border: 2px solid transparent;

    
}

.content.social-icons .message a:focus svg {
    background: transparent;
    fill: var(--black);
    border-color: var(--black);
}
footer .social-icons {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    width: 960px;
    margin: 0 auto;
    font-size: 12px;
    padding: 5px;
    justify-content: left;
    margin-bottom: 45px;
}
footer .content li a:hover{
    text-decoration: underline;
    color:var(--red);
}
.footer-links{
    background-color: var(--red);
    margin-bottom:50px;
}
.last-block {
    display: flex;
    list-style-type: none;
    padding: 8px 2px;
    margin-left: 220px;
}


.last-block li a{
    padding-left: 15px;
    padding-right: 15px;
    color: var(--white);
    font-family:  Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    font-size: 11px;
}  
.last-block li a:hover{
    text-decoration: underline;
    cursor: pointer;
}
    /* ADDED */
  
.last-block li:after {
    content: '';
    border-left: 1px solid var(--white);
  }
  
.last-block li:last-child:after {
    display: none; 
}
/* Hide the divider for the last block */

/*----------------------------Next Page---------------------*/
.news-container{
    background-color: var(--black);
}
.news-container .date{
    color: var(--white);
}
.news-container .nav-container{
    color: var(--white);
    background-color: var(--black);

}
.news-container .nav-container a{
    color: var(--white);
}
.news-container .nav-container li:hover:hover{
    background-color: var(--yellow);
}
.info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 15px;
    border-bottom: 1px solid var(--lightgrey);
    margin-top: 16px;
    padding-bottom: 32px;
}
.news-blog-container{
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 32px;
    padding-right: 32px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}
.news-blog-container h1{
    cursor: default;
    border-bottom: none;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 16px;
    line-height: 39px;
    text-align: center;
 
}
.para{
    font-family:  HeyWow, Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    text-align: center;
    padding-left: 21px;
    padding-right: 74px;
}
.link{
    font-family: Montserrat, "Helvetica";
    text-align: center;
    font-size: 12px;
    width: 440px;
    margin: 0 auto;
    border-bottom: 2px solid var(--darkgrey);
    line-height: 3;
}
.content-link{
    color: var(--black);
    text-decoration: none;
}
.link-container{
    color: var(--yellow);
    text-decoration: none;
}
.links-container{
   margin-bottom: 50px;
}
/*----------SOCIAL ICON start-------------------------*/

.heading-social{
    display: flex;
    justify-content: center;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 6px;
    width: 365px;
    margin: 0 auto;
    padding-top: 7px;
    padding-bottom: 6px;
    gap: 15px;
 
}
.content.social-icon{
    list-style-type: none;
    display: flex;
    
}

.share{
    color: var(--yellow);
    padding-top: 6px;
    font-size: 12px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
}
.content.social-icon .twitter svg{
    background-color: var(--white);
    fill: var(--yellow);
    border: 1px solid var(--darkgrey);
    padding: 6px;
    border-radius: 22px;
    width: 19px;
    height: 19px;
    margin-right: 6px;
}
.content.social-icon .facebook svg{
    background-color: var(--white);
    fill: var(--yellow);
    border: 1px solid var(--darkgrey);
    padding: 6px;
    border-radius: 22px;
    width: 19px;
    height: 19px;
    margin-right: 6px;

}
.content.social-icon .message svg{
    background-color: var(--white);
    fill: var(--yellow);
    border: 1px solid var(--darkgrey);
    padding: 6px;
    border-radius: 22px;
    width: 19px;
    height: 19px;
    margin-right: 6px;

}
/*----------SOCIAL ICON END-------------------------*/


/*-------------FOCUS-------------------------*/
.content.social-icon .twitter a:focus svg {
    background: var(--yellow); ;
    fill: var(--white);
    border-color: var(--grey);
}
.content.social-icon .facebook a:focus svg {
    background: var(--yellow); ;
    fill: var(--white);
    border-color: var(--grey);
}
.content.social-icon .message a:focus svg {
    background: var(--yellow); ;
    fill: var(--white);
    border-color: var(--grey);
}
/*----------FOCUS END-------------------------*/


/*----------MAIN DETAIL PAGE START-------------------------*/


.news-main{
    display: grid;
    grid-template-columns: 300px auto 300px;
    gap: 21px;
    margin-top: 42px;
    padding-left: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
}
.news-main-content p{
    font-size: 18px;
    font-family: "HeyWow", Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin-bottom: 18px;
    overflow-wrap: break-word;
    line-height: 1.7;
    color: var(--mediumgrey);

}
.news-main-content p a{
    color: var(--yellow);
}

.news-main-content p a:hover{
    text-decoration: none;
}
figcaption{
    font-weight: 500;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1;
    color: rgb(115, 116, 128);
    border-bottom: 1px solid rgb(223, 223, 223);
    padding: 0px 0px 0.5625rem;
    font-size: 12px;
    color: var(--caption);
    padding-top: 9px;
    padding-bottom: 9px;
    margin-bottom: 24px;
}
figure img{
    width:100%;
}

h2.news-heading {
    font-size: 32px;
    font-weight: 400;
    color: var(--black);
    border-bottom: 6px solid var(--black);
    margin-bottom: 16px;
}

.news-3 .container-block{
    margin-bottom: 15px;
}

.sticky-ad img {
    position: fixed;
    top: 15px;
    left: 15px;
}


/*----------MAIN DETAIL PAGE END-------------------------*/