h1{
    font-family: HeyWow, Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 48px;
    font-weight: 400;
    color: var(--black);
    border-bottom: 8px solid var(--black);
    margin-bottom: 16px;
    cursor: pointer;
}
h2{
    height: 43.84px;
    margin-bottom: 20px;
    font-size: 19px;
}
h3{
    font-size: 15px;
    padding-right: 10px;
    line-height: 17px;
    padding-bottom: 58px;
}
p{
    line-height: 19px;
    margin-bottom: 0;
}
blockquote{
    font-size: 18px;
    font-family: "HeyWow", Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin-bottom: 18px;
    overflow-wrap: break-word;
    line-height: 1.7;
    color: var(--mediumgrey);
    quotes: '\00AB' '\00BB' '\201E' '\201C';
}
