.header{
    background-color: #e5e4e2;
}
.header-container{
    display: flex;
    justify-content: space-between;
    margin: 0% auto;
    width: 1000px;
}
.header-container img{
    margin-top: 29px;
    cursor: default;
    
}
.date{
    color: #000;
    text-align: center;
    margin-top: 40px;
    padding-right: 35px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
img.logo:hover{
    cursor: pointer;
}

ul.menu{
    width: 764px;
    margin:0 auto;
    display: flex;
    list-style-type: none;
    margin: 0 auto;
    text-align: center;
    
}
ul.menu li{
    padding:2px;
    width: 100%;
    line-height: 55px;
    font-size: 15px;
    font-family:  "Roboto Condensed", "Arial Narrow", Helvetica, Arial, sans-serif;
}
ul.menu li:hover{
    background-color: red;
    color: white;
    cursor: pointer;
}











































.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:0.9375rem 1.25rem;
    }

.container-block{
    padding: 16px 16px 7px;
    box-shadow: rgb(0 0 0 / 25%) 0px 0px 7px;
    font-family: HeyWow, Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    position: relative;
   
}
h1{
    font-family: HeyWow, Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 48px;
    font-weight: 400;
    color: #000;
    border-bottom: 8px solid #000;
    margin-bottom: 16px;
}
h2{
    height: 43.84px;
    margin-bottom: 20px;
    font-size: 19px;
}
p{
    line-height: 19px;
    margin-bottom: 0;
}
.container-block img{
    width: 100%;
}
span{
    color: rgb(151, 151, 151);
    line-height: 19px;
}
span.category{
    color: rgb(63, 132, 56);
}
.arrow{
    position: absolute;
    right: 25px;
    bottom: 17px;
    color: rgb(63, 132, 56);
    font-size: 19px
    
}
.polygon{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 25px;
    height: 45px;
    clip-path: polygon(100% 0px, 0px 100%, 100% 100%);
    display: block;
    background: rgb(63, 132, 56);
}

h1{
    cursor: pointer;
}

.parent-block:hover h2,
.parent-block:hover h3 {
    text-decoration: underline;
    cursor: pointer;
}

img {
    cursor: pointer;
}

/* Media query */

@media screen and (max-width: 413px) {
    .container{
    grid-template-columns: repeat(1, 1fr);}
}
/* Media query */



/* Another blog Website */
.blog-block-conatiner{
padding-left: 36px;
padding-right: 36px;
}
.two-block{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.smartphone-block h2{
    font-size: 30px;
    font-family: HeyWow, Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 34px;
}

h2.bold{
    height: 118px;
    font-size: 32px;
}

h3{
    font-size: 15px;
    padding-right: 10px;
    line-height: 17px;
    padding-bottom: 58px;
}

span.big-arrow{
    right: 40px;
    bottom: 29px;
    font-size: 25px;
    color: rgb(63, 132, 56);
    position: absolute;
}
span.small-arrow{
    right: 16px;
    bottom: 10px;
    font-size: 15px;
    color: rgb(63, 132, 56);
    position: absolute;
}
.big-polygon{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 35px;
    height: 60px;
    clip-path: polygon(100% 0px, 0px 100%, 100% 100%);
    display: block;
    background: rgb(63, 132, 56);
}
.small-polygon{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 17px;
    height: 34px;
    clip-path: polygon(100% 0px, 0px 100%, 100% 100%);
    display: block;
    background: rgb(63, 132, 56);
}


.container-block-additional {
    box-shadow: none;
    padding: 0;
}
p.content{
    bottom: 9px;
    position: absolute;
}
/* Media query start */


@media screen and (max-width: 429px) {
    .two-block
    {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 10px;
}
.parent-block{
    grid-template-columns: repeat(2, 1fr);

}
h2.bold {
    font-size: 15px;
    line-height: 20px;
    height: 100px;
}
h1 {
    text-align: center;
    font-size: 25px;
    border-width: 3px;
    line-height: 35px;
}

}
/* Media query end*/